* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  align-items: center;
  color: #545454;
}

.column,
.principal,
aside,
.post,
.aside-one {
  display: flex;
  flex-direction: column;
}

.principal,
aside {
  align-items: center;
  width: 100%;
}

.principal {
  flex-grow: 1;
}

header {
  padding: 20px 10vw;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

header svg {
  width: 150px;
}

footer {
  padding: 27px 17px;
  text-align: center;
  background-color: #222222;
  color: white;
  width: 100%;
}

.aside-one {
  background-color: white;
  width: 100%;
  align-items: center;
}

.column {
  margin-bottom: 25px;
  width: 80vw;
  row-gap: 25px;
}

.search {
  all: inherit;
  background-color: white;
  border: 1px solid #fe0078;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 25px 0 0 0;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
  gap: 20px 5px;
}

.categoria {
  all: inherit;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.categoria:hover {
  cursor: pointer;
  color: #fe0078;
}

.categoria:hover .numero {
  background-color: #fe0078;
}

.numero {
  background-color: #dfdfdf;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  font-size: 10px;
  color: white;
  padding: 8px;
}

h3 {
  padding-top: 0;
  color: black;
  font-weight: bold;
}

h3::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 100%;
  background: #fe0078;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.column.ads {
  margin: 0px; /* resetando margens */
  background-color: #f5f5f5;
  padding: 15px 0;
  height: min-content;
}

.ads .img {
  width: 100%;
  height: 85px;
  background-color: #eeeeee;
}

/* POSTAGEM */

.post {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.post img {
  width: 100%;
  height: auto;
}

.label-post,
.conteudo {
  padding: 13px 17px;
}

h2 {
  color: black;
  font-size: 16px;
}

.label-post {
  color: #929292;
  font-size: 10px;
}

.conteudo {
  font-size: 12px;
  color: #545454;
  flex-grow: 1;
  max-height: 150px;
  overflow: hidden;
}

.post button {
  all: inherit;
  width: 100%;
  background-color: #fe0078;
  color: white;
  font-weight: bold;
  border-radius: 0 0 4px 4px;
  padding: 13px 0;
  text-align: center;
  margin-top: 10px;
}

.post button:hover {
  cursor: pointer;
}

/* TELAS MAIORES */

@media (min-width: 980px) {
  body,
  .conteudo {
    font-size: 14px;
  }
  .label-post {
    padding: 24px 0 14px 24px;
  }
  .label-post p {
    font-size: 12px;
  }

  .conteudo {
    padding: 14px 24px 24px 24px;
  }
  .principal {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    padding: 4vw 0;
    column-gap: 4vw;
  }

  .aside-one {
    background: none;
    width: min-content;
    padding: 20px;
  }
  aside {
    width: auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  }

  .post {
    max-width: 50vw;
  }
  .search {
    margin: 0px;
    min-width: 23vw;
  }
  .ads .img {
    width: 100px;
  }

  .categorias {
    grid-template-columns: 1fr;
  }

  .categoria {
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 2px #eeeeee dotted;
  }

  .categoria .numero {
    background-color: transparent;
    color: #545454;
    font-size: 14px;
  }

  .categoria:hover .numero {
    background-color: transparent;
    color: #fe0078;
  }

  .categoria:hover {
    border-bottom: 2px #fe0078 dotted;
  }

  .column {
    width: auto;
  }

  h2 {
    font-size: 24px;
  }
}
