/* ESTILOS GERAIS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  align-items: center;
  color: #545454;
}

.column,
.principal,
aside,
.post,
.aside-one,
.form-item {
  display: flex;
  flex-direction: column;
}

.principal,
aside {
  align-items: center;
  width: 100%;
}

.principal {
  flex-grow: 1;
}

/* HEADER */
header {
  padding: 20px 10vw;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header svg {
  min-width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: #545454;
  width: 50px;
}

nav ul a:hover {
  color: #fe0078;
}

/* FOOTER */
footer {
  padding: 27px 17px;
  text-align: center;
  background-color: #222222;
  color: white;
  width: 100%;
}

/* SIDEBAR */

.aside-one {
  background-color: white;
  width: 100%;
  align-items: center;
}

.column {
  margin-bottom: 25px;
  width: 80vw;
  row-gap: 25px;
}

.search {
  all: inherit;
  background-color: white;
  border: 1px solid #eeeeee;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 25px 0 0 0;
}

.search:focus,
.search:hover {
  border: 1px solid #fe0078;
}

.categorias h3 {
  display: none;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
  gap: 20px 5px;
}

.categoria {
  all: inherit;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.categoria:hover {
  cursor: pointer;
  color: #fe0078;
}

.categoria:hover .numero {
  background-color: #fe0078;
}

.numero {
  background-color: #dfdfdf;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  font-size: 10px;
  color: white;
  padding: 8px;
}

h3 {
  padding-top: 0;
  color: black;
  font-weight: bold;
}

h3::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 30px;
  background: #fe0078;
  margin-right: 11px;
  position: relative;
  top: 9px;
}

.column.ads {
  margin: 0px; /* resetando margens */
  padding: 15px 0;
  height: min-content;
}

.ads .img:last-child,
.ads .img:nth-child(2) {
  display: none;
}

.ads .img {
  width: 100%;
  height: 85px;
  background-color: #eeeeee;
}

/* POSTAGEM */

.post {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.post img {
  width: 100%;
  height: auto;
}

.label-post,
.conteudo {
  padding: 13px 17px;
}

h2 {
  color: black;
  font-size: 16px;
}

.label-post {
  color: #929292;
  font-size: 10px;
}

.conteudo {
  font-size: 12px;
  color: #545454;
  flex-grow: 1;
  max-height: 150px;
  overflow: hidden;
}

.post button {
  all: inherit;
  width: 100%;
  background-color: #fe0078;
  color: white;
  font-weight: bold;
  border-radius: 0 0 4px 4px;
  padding: 13px 0;
  text-align: center;
  margin-top: 10px;
}

.post button:hover {
  cursor: pointer;
}

/* PAGINA CONTATO */

.column.contato-conteudo {
  row-gap: 0;
}
.contato-conteudo {
  padding: 0 24px 13px 24px;
}

.grid-column-two {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 8px;
}

.grid-column-two p {
  grid-column: span 2;
  padding: 8px 0 15px 0;
}

.contato-conteudo h2 {
  padding: 24px 0 15px 0;
}

.contato-conteudo .grid-column-two img {
  width: 20px;
  height: 20px;
}

h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  margin: 20px 0;
  justify-self: center;
}

.contato-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.form-item input {
  height: 5vh;
}

.form-item textarea {
  resize: vertical;
}

.form-item textarea,
.form-item input {
  outline: #fe0078;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  padding: 10px;
}

.form-item textarea:focus,
.form-item input:focus {
  border: 1px solid #fe0078;
}

.form-item label {
  padding-bottom: 8px;
  color: black;
}

.post .btn-form {
  background-color: #fe0078;
  color: white;
  margin: 20px 0 0 0;
  border-radius: 4px;
}

/* PÁGINA DA POSTAGEM */

.conteudo.inteiro {
  max-height: unset;
}

/* TELAS MAIORES */

@media (min-width: 980px) {
  body,
  .conteudo {
    font-size: 14px;
  }

  .column {
    width: initial;
  }

  /* POSTAGEM */

  .post {
    max-width: 50vw;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 24px;
  }

  .label-post {
    padding: 24px 0 14px 24px;
  }
  .label-post p {
    font-size: 12px;
  }

  .conteudo {
    padding: 14px 24px 24px 24px;
  }

  .principal {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    padding: 4vw 0;
    column-gap: 4vw;
  }

  .post button {
    width: 154px;
    padding: 12px 0;
    border-radius: 20px;
    align-self: flex-end;
    margin: 24px;
    background-color: transparent;
    border: 1px solid #fe0078;
    font-weight: normal;
    color: #545454;
    box-shadow: none;
  }

  .post button:hover {
    color: white;
    background-color: #fe0078;
  }

  /* SIDEBAR */

  .aside-one {
    background: none;
    width: 100%;
    align-items: flex-start;
  }

  aside {
    min-width: 340px;
    max-width: 400px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    padding: 25px;
  }

  .search {
    margin: 0px;
    width: 100%;
  }

  .categorias h3,
  .ads h3 {
    display: block;
    font-size: 18px;
  }

  .categorias {
    grid-template-columns: 1fr;
  }

  .categoria {
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 2px #eeeeee dotted;
    padding: 10px;
    width: 340px;
  }

  .categoria .numero {
    background-color: transparent;
    color: #545454;
    font-size: 14px;
  }

  .categoria:hover .numero {
    background-color: transparent;
    color: #fe0078;
  }

  .categoria:hover {
    border-bottom: 2px #fe0078 dotted;
  }

  /* PUBLICIDADE */

  .ads {
    align-self: flex-start;
  }

  .ads .img:last-child,
  .ads .img:nth-child(2) {
    display: block;
  }

  .ads .img {
    width: 340px;
    height: 240px;
  }

  /* CONTATO */

  .contato-form {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .form-item:nth-child(3),
  .form-item:nth-child(4) {
    grid-column: span 2;
  }

  .post .btn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93px;
    grid-column: span 2;
    justify-self: end;
    border-radius: 20px;
  }
}
